<form {{action 'loginUser' on='submit'}}>
	<p>
		Email: {{input value = username type="email" placeholder="username"}}
	</p>
	<p>
		Password: {{input value = password type = "password" placeholder ="password" }}
	</p>
	<p>
		<button type="submit">Login</button>
	</p>
</form>