<h2>Forgotten Password</h2>
<form {{action 'forgottenPassword' on='submit'}}>
	<p>
		Email: {{input value = username type="email" placeholder="Enter Username"}}
	</p>
	<p>
		<button type="submit">Submit</button>
	</p>
</form>