html {
	width: 100%;
}
.page_content h2, .page_content h4, .page_content p {
	font-weight: 300;
}
.content {
	width: 100%;
	padding-top: 16%;;
	background: url('/assets/web_bg3.gif');
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.content h2 {
	font-weight: 300;
}
.content label {
	font-weight: 500;
}

.navbar-default .navbar-nav > li > a {
	color: #323232;
}
.navbar-default {
	background-image: none !important;
	background-color: transparent !important;
	border: 0px 0px;
}
.navbar {
	border: 0px 0px;
	z-index: 1;
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	color: #323232;
	padding-bottom: 5px;
}
.navbar-fixed-top {
	border-width: 0 0 0 !important;
	box-shadow: none !important;
}
.navbar-noscroll {
	padding-top: 10%;
}
.navbar-nav {
	padding-right: 15px;
}
.navbar-brand {
	padding: 15px 5px;
}
/*.nav-opacity {
	background-color: white;
}*/

.navbar-right .btn {
	margin: 5px 5px;
}
.navbar-header img {
	width: 12em;
}
.navbar-scroll {
	background-color: white !important;
	padding-top: 0;
	border-bottom: 1px solid #b7b6b7 !important;
}
#welcome {
	float: right;
	position: fixed;
	bottom: 0;
	left: 0;
}
.centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
}
@media (max-width: 770px) {
	.content {
		padding-top: 22%;
	}
}

