/*reg-info component*/

#reg_why_btn {
	border: 0px transparent;
	width: auto;
	background-color: transparent;
	font-weight: 300;
	color: #baf4fe;
}
.reg_info {
	padding-left: 25%;
	display: none;
}
.reg_info ul li {
	font-weight: 300;
	font-size: 1.2em;
	color: #fff;
	margin: 0.5% 0;
}
.reg_info ul {
    text-align: left;
    list-style-position: inside;
}
.signup_footer {
	background-color: #e6007e;
	background-opacity: 0.7;
	margin-bottom: 0;
	color: white;
	border-top: 2px solid #585558 !important;
	padding: 1% 20%;
}
.signup_footer_slim {
	background-color: white !important;
}