#footer {
	font-weight: 300;
	width: 100%;
	background-color: #edf8fa;
	text-align: center;
	padding: 3%;
	padding-bottom: 9%;
	color: #323232;
	margin-top: 3%;
}
#footer h2 img {
	padding: 5px;
	margin-top: -20px;
	width: 70px;
}
#footer .row {
	padding:15px;
}