.top {
	background-image: url('biz/world_map_12.png');
	background-repeat: no-repeat;
	padding: 0% 8%;
	background-size: 99%;
	background-position: 60% 40%;
	text-align: left;
}
#cover_img {
	margin-top: 40%;
/*	background-image: url('biz/cover_img.png');
	background-repeat: no-repeat;
	background-size: 110%;
	background-position: 90% 90%;*/
}
#cover_img img {
	width: 100%;
	margin-top: 20%;
}
#strapline {
	padding-top: 10%;
	padding-bottom: 3%;
	max-width: 700px;
	font-family:'lato';
	color: #595a5a;
}
#strapline h2 {
	font-weight: 300;
	font-size: 3.4em;
	margin-bottom: 10%;
	line-height: 150%;
}
.lingumi-blue {
	color: #3b9de6;
	font-weight: 500;
}
#strapline h3 {
	font-weight: 300;
	font-size: 2em;
	font-family: 'lato';
	color: #595a5a;
}
#strapline h3 img {
	width: 15%;
	padding: 2%;
}
.strapline-btn {
	margin-top: 2%;
	margin-left: 50%;
}
#strapline h4 {
	font-weight: 100;
	font-size: 2em;
	font-family: 'lato';
	color: #595a5a;
	padding-top: 8%;
}
.weight-400 {
	font-weight: 400;
}
.explainers {
	font-family: 'lato';
	text-align: center;
	margin-top: 0;
	padding-top: 2%;
	padding-bottom: 3%;
	background-color: #3b9de6;
	color:white;
}
.explainers h4 {
	font-weight: 100;
	line-height: 150%;
	padding-top: 2%;
}
.explainers h2 {
	font-weight: 100;
	margin-bottom: 4%;
}
.explainers .method {
	padding: 1% 5%;
	line-height: 120%;
}
#products {
	background-color: #e6007e;
	color: white;
}
#products h2 {
	font-weight: 100;
}

#landing-video {
	padding: 5% 15%;
}
#landing-video h2 {
	padding-bottom: 2%;
	font-weight: 100;
}
#video_embed {
/*	padding:0% 15%;*/
}
#tweets {

}
.banner {
	background-color: #e6007e;
	text-align: left;
	color: white;
	margin: 4% 0;
	padding-top: 4%;
	padding-bottom: 4%;
}
#signup_bottom {
	background-color: #009fe3;
	color: white;
}

/* signup stuff */

.signup {
	text-align: center;
	margin-bottom: 4%;
	border-right: 2px solid white;
}
.signup h4 {
	font-weight: 300;
	font-size: 2.5em;
}
.signup input {
	min-height: 35px;
	height: 40px;
	text-align: center;
	margin-bottom: 1px;
	margin-top: 10px;
	width: 50%;
	max-width: 500px;
	border-radius: 16px;
	font-size:18px;
	font-family: 'open sans', sans-serif;
	font-weight: 700;
	color:#585558;
}
.signup button {
margin-top: 5px;
  border-radius: 16px;
  border: 2px solid white;
	background-color: #e6007e;
	color: white;
  font-family: 'open sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 50px;
  height: 40px;
  margin-left: 5px;
}
.signup button:hover {
	border: 2px solid #e6007e;
  	background-color: white;
  	color: #e6007e;
}


/*media queries for smaller screens*/
@media (max-width: 770px) {
	.top {
		text-align: center;
	}
	#cover_img {
		display: none;
	}
	.navbar-nav {
		background-color: white;
		width:100%;
	}
	.story_row {
		text-align: center;
	}
	.story_row img {
		width: 60%;
		margin: 2%;
	}
	.strapline-btn {
		margin-left: 5%;
	}

}

