<div>
<footer id="footer">
	<div id="footer_layer_one">
    	<h2>An  <img src="assets/ef_logo.png">  company</h2>
    	<h4>Europe's leading pre-seed investment programme for technical founders.</h4>
    </div>
    <div id="footer_layer_two">
    	<h4>I'd like to hear more about Lingumi</h4>
    	{{#quick-reg}}{{/quick-reg}}
		<div class="row" id="footer_layer_three">
			<div class="col-md-4 col-sm-12">
				<h5>Follow us</h5>
				<ul class="list-inline">
					<li><a target="_blank" href="https://www.twitter.com/lingumilabs">Twitter</a></li>
					<li><a target="_blank" href="https://www.facebook.com/lingumi">Facebook</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-12" id="copyright_logo">
				<img src="assets/biz/logo_bubble.png">
				<p>&copy; Copyright Lingumi Ltd. 2016, all rights reserved.</p>
			</div>
			<div class="col-md-4 col-sm-12">
					<h5>Legal</h5>
				<ul class="list-inline">
					<li><a href="#">Terms and Conditions</a></li>
					<li><a href="#q">Privacy Policy</a></li>
				</ul>
			</div>
		</div>

	</div>
</footer>
</div>
