<div id="navigation">
	<nav class="navbar navbar-default navbar-noscroll navbar-fixed-top">

		<div class="navbar-header">
			<a class ="navbar-brand" href="/">
				<img src="/assets/brand_simple.png">
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                <i class="fa fa-bars"></i>
	        </button>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right nav-pills">
				<li>{{#link-to 'home' class="btn btn-navbar btn-cyan"}}Home{{/link-to}}</li>
				<li>{{#link-to 'system' class="btn btn-navbar btn-green"}}What{{/link-to}}</li>
				<li>{{#link-to 'method' class="btn btn-navbar btn-magenta"}}How{{/link-to}}</li>	


				<li class="dropdown">
					<a class="dropdown-toggle btn btn-navbar btn-cyan" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>{{#link-to 'benefits'}}Benefits{{/link-to}}</li>
						<li>{{#link-to 'faq'}}FAQ{{/link-to}}</li>
						<li>{{#link-to 'testimonials'}}Testimonials{{/link-to}}</li>
						<li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
						<li>{{#link-to 'educators'}}Schools & Nurseries{{/link-to}}</li>
						<li>{{#if userLoggedIn}}
								{{#link-to 'profile'}}<strong>Profile</strong>{{/link-to}}
							{{else}}
								{{#link-to 'registerAccount'}}<strong>Sign Up</strong>{{/link-to}}
							{{/if}}
						</li>
					</ul>
				</li>
			</ul>
			<!-- this bit below will be added and styled later when we have time -->
			<!-- <div id="welcome">
				{{#if userLoggedIn}}
					<li>Welcome <a href="/profile"><b>{{username}}</b></a></li>
					<li><a href="/profile">Profile</a></li>
				{{else}}
					<li><a href="/login">Login</a></li>
					<li><a href="/registerAccount">Sign Up</a></li>
				{{/if}}
			</div> -->
		</div>
		
	</nav>
</div>

<script type="text/javascript">
	$(window).scroll(function() {
    var nav = $('.navbar-default');
    var top = 100;
    if ($(window).scrollTop() >= top) {

        nav.addClass('navbar-scroll');

    } else {
        nav.removeClass('navbar-scroll');
    }
});
</script>