<div class="page_content">
	<div id="about" class="well_padded">
		<h2>About Us</h2>
		<h4>We're a team of teachers, learners, computer scientists, designers, and advisory academics, who love designing effective, fun, playful learning products.</h4>
{{!-- 		<h4>You can read more about our story {{#link-to 'story'}}here.{{/link-to}}</h4> --}}
		<div id="team">
			<h2>Meet the team</h2>
			<div class="row">
				<div class="team-profile col-md-4">
					<img src="assets/team/toby_bw.png">
					<h3>Toby Mather</h3>
					<h4>Co-founder</h4>
					<p>Former English teacher. Russian & Italian graduate from Oxford University. Front-end web developer.</p>
				</div>
				<div class="team-profile col-md-4">
				<img src="assets/team/adit_bw.png">
					<h3>Adit Trivedi</h3>
					<h4>Co-founder</h4>
					<p>Back-end web & app developer and Computer Science graduate from University College London</p>
				</div>
				<div class="team-profile col-md-4">
				<img src="assets/team/carol_bw.png">
					<h3>Carol Woodman</h3>
					<h4>Designer</h4>
					<p>Award winning children's illustrator and leading designer on work for the BBC.</p>
				</div>
			</div>

			<div class="row">
				<h2>The advisors</h2>
				
				<div class="team-profile col-md-12">
				<!-- <img src="assets/team/william_placeholder.png"> -->
					<h3>William O'Grady</h3>
					<h4>Academic Advisor</h4>
					<p>Professor of child language acquisition at the University of Hawaii and author of 'How Children Learn Language', Professor O'Grady advises on the academic research that underpins the Lingumi method.</p>
				</div>
				
			</div>

		</div>
	</div>
</div>
