<div class="page_content">
	<div id="the_apps" class="row well_padded">
		<h2><strong>The Apps:</strong>	</h2>
		<h4>Our first app is available now with the Learning Cubes: we'll send you a link to download it (it's not available on the app store to just anyone!). First Verbs, our second app which continues your child's learning progress, is being built at the moment, and will also be free.</h4>
		<div class="col-md-6">
			<img src="assets/first_words_icon.png">
			<h2>Lingumi's First Word</h2>
			<h4><strong>Play and learn:</strong></h4>
				<p>Sounds from native speakers</p>
				<p>60+ nouns, selected from the <strong>Oxford CDI</strong></p>
				<p>Answer questions & solve puzzles</p>
				<p>Learn contextual language</p>
				<p>Start using first phrases in a new language</p>
		</div>
		<div class="col-md-6">
			<img src="assets/first_verbs_icon.png">
			<h2>Lingumi's First Verbs</h2>
			<h4><strong>Play and learn:</strong></h4>
				<p>20+ verbs pronounced by native speakers</p>
				<p>Multiple verb forms</p>
				<p>Contextual usage & implicit grammar</p>
				<p>Adapting grammatical forms</p>
				<p>50+ adjectives, prepositions, and more</p>
		</div>
	</div>
</div>