<div class="page_content">

	<div class="center">
		<div class="row" id="benefits">
			<h2><strong>What are the benefits of Lingumi?</strong></h2>
			<h3>Lingumi has been designed from the ground up from academic research into how children learn language. You can read more about that {{#link-to 'method'}}here.{{/link-to}} Lingumi is also structured to help with cognitive and social skills at specific ages.</h3>

			<div class="col-sm-4">
				<div class="age_range" id="two_up">
					<h3>2-3 +</h3>
				</div>
					<h3>Learn</h3>
					<h4>motor skills</h4>
					<h4>new sounds</h4>
					<h4>co-ordination</h4>
					<h4>early words</h4>
					<h3>Think</h3>
					<h4>communication skills</h4>
					<h3>Create</h3>
					<h4>explore & play</h4>
			</div>
			<div class="col-sm-4">
				<div class="age_range" id="three_up">
					<h3>3-4 +</h3>
				</div>
					<h3>Learn</h3>
					<h4>new words</h4>
					<h4>short phrases</h4>
					<h3>Think</h3>
					<h4>solve puzzles</h4>
					<h4>build phrases</h4>
					<h4>co-ordinated attention</h4>
					<h3>Create</h3>
					<h4>develop cognitive pathways</h4>
					<h4>ask & answer questions</h4>
			</div>
			<div class="col-sm-4">
				<div class="age_range" id="four_up">
					<h3>4-5 +</h3>
				</div>
					<h3>Learn</h3>
					<h4>words & phrases in new languages</h4>
					<h4>cultural awareness</h4>
					<h3>Think</h3>
					<h4>solve puzzles</h4>
					<h4>build phrases</h4>
					<h4>co-ordinated attention</h4>
					<h3>Create</h3>
					<h4>develop cognitive pathways</h4>
					<h4>ask & answer questions</h4>
					<h4>group play & imagination</h4>
			</div>
			<div class="signup benefits_signup" id="benefits_signup">
				<h2>Buy your set of Learning Cubes today:</h2>
				{{#link-to 'products' class="btn btn-cyan"}}Buy{{/link-to}}
			</div>
		</div>

		<div class="banner" id="benefits_banner" class="row explainers">
			<h3>'Our ability to acquire, understand and communicate language is unique compared to all other species... the fact a toddler can put words together into real sentences – it's extraordinary.'</h3>
			<h4>Professor Kim Plunkett, University of Oxford</h4>
		</div>
	</div>
	
</div>