<div id="banner" class="row explainers">

<h4>'Our ability to acquire, understand and communicate language is unique compared to all other species... the fact a toddler can put words together into real sentences – it's extraordinary.'</h4>
<h3>Professor Kim Plunkett, University of Oxford</h3>

</div>

<h2>Benefits of Lingumi:</h2>