<div class="page_content">
	<div class="checkout_stage">
		<div class="row">
			<div class="col-xs-4 checkout_active">
				<div class="stage_point stage_point_active">1</div>
				<h4>Start checkout</h4>
			</div>
			<div class="col-xs-4">
				<div class="stage_point stage_point_inactive">2</div>
				<h4>Payment</h4>
			</div>
			<div class="col-xs-4">
				<div class="stage_point stage_point_inactive">3</div>
				<h4>Confirmation</h4>
			</div>
		</div>
	</div>

<!-- REMEMBER TO ADD EMAIL TO THIS PRE-FILL -->

	<div class="row explainers landing_link" id="checkout">
		<div class="col-md-6">
			<h2>Enter your email address to start checkout:</h2>
			<button data-celery="568f7c99b8d6041100a23f36" data-celery-version="v2" data-celery-prefill-email="EMAIL HERE" class="btn btn-magenta">Checkout</button>
			<script async type="text/javascript" src="https://www.trycelery.com/js/celery.js"></script>

			<div class="checkout_link">
				<a href="https://shop.trycelery.com/page/3f9c979c-f1a9-4c87-a6b9-71e72bcc44cf">Checkout not working? Click here.</a>
			</div>

		</div>
		<div class="col-md-6" id="starter_kit">
			<img src="assets/starter_kit.png">
		</div>
		
	</div>

</div>