<div class="page_content">
	<div class="well_padded" id="contact_us">
		<h2><strong>Contact Lingumi</strong></h2>

			<h2>Email us</h2>
			<h4>We're here to answer your questions. <br/>Click <a href="mailto: hello@lingumi.com">here to email us</a></h4>
			<h4>Or reach out directly: <strong>hello@lingumi.com</strong></h4>
			<p>You can also get in touch with a team member {{#link-to 'about'}}on the about page.{{/link-to}}</p>

	</div>
</div>