<div class="page_content">
	<div id="educators">
		<div class="well_padded">
			<h2>Lingumi for nurseries, schools, and educators</h2>
			<h4>We work with a select group of nurseries who use Learning Cubes to introduce children to a second language, or to help children with speech language difficulties.</h4>
			<h3>To join our beta group of nurseries and educators, please get in touch by emailing <strong>hello@lingumi.com</strong></h3>
		</div>

		<div class="banner" style="margin: 1% 0">
			{{!-- <h4>Quote from Little Linguists</h4> --}}
		</div>
	</div>
</div>
