<div class="page_content">
	<div class="well_padded" id="faq">
	<h2>Do you have to have the starter kit to get the benefits?</h2>
	<h4>The starter kit has been designed from academic research to be the best way to introduce a child to a language in their early years. We would recommend buying a kit to start learning with your child - and the fun is guaranteed. However, you can still {{#link-to 'registerAccount'}}signup for free{{/link-to}} without a kit.</h4>
	<h2>Do you deliver to my country?</h2>
	<h4>We might do. Check out our {{#link-to 'international'}}international page{{/link-to}} for more details on where we send, and how to get your Lingumi Starter Kit</h4>

	<h3><strong>Haven't found an answer to your question? {{#link-to 'contact'}}Ask us!{{/link-to}}</strong></h3>
	</div>
</div>