<!--These get injected into the outlet spacebar in 'application.hbs'-->
<li><a href="/method">Method</a></li>
<li><a href="/what">What</a></li>
<li><a href="/how">How</a></li>
<li><a href="/buy">Buy</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/educators">Educators</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/registerAccount">Sign Up</a></li>