<!--These get injected into the outlet spacebar in 'application.hbs'-->
<div class="page_content">
	<div class="top">
		<div id="video">
			<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
			<div>
				<div class="wistia_responsive_wrapper" style="height:450px;width:100%;">
					<span class="wistia_embed wistia_async_ld5ha7yp8j popover=true videoFoam=true" style="display:inline-block;height:100%;width:100%;margin-top:2%">&nbsp;</span>
				</div>
			</div>
		</div>

		<div class="strapline row">
			<div id="language_labels" class="col-xs-3">
				<img src="assets/language_labels.gif">
			</div>
			<div class="col-xs-6">
				<h2>
				<!-- translation: The interactive way to learn English for kids -->
					{{t "<strong>Teach your child a language</strong> at the best age for learning"}}
				</h2>

				{{#scroll-to href='#explainers' label='explainers' offset=-60 class="btn btn-cyan"}}
					What is it?
				{{/scroll-to}}
			</div>
			<div id="age_label" class="col-xs-3">
				<img src="assets/age_label2.gif">
			</div>
		</div>
	</div>

	<div class="explainers well_padded" id="explainers">
			<div id="top_kit">
				<img src="assets/starter_kit.png">
			</div>
			<div id="top_kit_exp">
				<h2>
					<!-- translation: A fun, interactive way for kids to learn English -->
					{{t "A <strong>fun, interactive method</strong> for early years language learning."}}
				</h2>
				<h4>
					{{t "Our scientifically structured method starts with the <strong>Learning Cubes:</strong> soft, safe cubes that interact with a tablet or smartphone to teach sounds, words and phrases to children, <strong>through play.</strong>"}}
				</h4>
				<h4>
				<!-- translation: Learn over 100 words and phrases from our free apps, with no in-app purchases. The kit costs 55 euros including delivery to Italy. -->
					{{t "Learn over 100 words and phrases from our free apps, with no in-app purchases. The kit costs £35 inc. delivery to UK."}}
				</p>

			</div>
		<div class="action">
			{{#link-to 'products' class="btn btn-navbar btn-white"}}The Cubes{{/link-to}}
			{{#scroll-to href='#story' label='story' offset=-60 class="btn btn-magenta"}}
					The Story
			{{/scroll-to}}
		</div>
	</div>


	<div id="story">
		<h2>The Story</h2>

		<div class="row story_row very_well_padded">
			<div class="col-sm-3">
				<img src="assets/story_image_1.png">
			</div>
			<div class="col-sm-9">
				<p>
					<span class="p_starter">What is it? </span> A method developed from extensive academic research that combines <strong>tactile physical interaction</strong> with digital apps to help children learn a language, by replicating the way they naturally acquire language from birth.
				</p>
			</div>
		</div>

		<div class="row story_row very_well_padded">
			<div class="col-sm-3">
				<img src="assets/story_image_2.png">
			</div>
			<div class="col-sm-9">
				<p><span class="p_starter">How does it work? </span>We create interactive games and activities which children and parents play together. Children play learn their first sounds in a <strong>native accent</strong>, then words, then phrases. The first step is the Learning Cubes: read about them {{#link-to 'products'}}here.{{/link-to}}</p>
			</div>
		</div>

		<div class="row story_row very_well_padded">
			<div class="col-sm-3">
				<img src="assets/story_image_3.png">
			</div>
			<div class="col-sm-9">
				<p><span class="p_starter">Why early years? </span>2 year olds are <strong>the world's best learners.</strong> Due to their brain plasticity, increased synaptic density, and other neurological factors, infants under the age of 6 absorb languages quickly and easily.</p>
			</div>
		</div>

		<div class="row story_row very_well_padded">
			<div class="col-sm-3">
				<img src="assets/story_image_4.png">
			</div>
			<div class="col-sm-9">
				<p><span class="p_starter">Who are we? </span>We are: 1 English teacher, 1 computer scientist, 1 children's illustrator, + several brilliant academics who advise us. We're based in London, UK. Read more about the team {{#link-to 'about' class="underline"}}here.{{/link-to}}</p>
			</div>
		</div>
	</div>


	<div class="centered">
		{{#scroll-to href='#testimonials' label='testimonials' offset=-60 class="btn btn-magenta"}}
					What our users think
		{{/scroll-to}}
	</div>

	<div class="row banner well_padded" id="testimonials">

		<div class="col-sm-3" id="testimonials_img">
			<img src="assets/stories/tasha_olivia.png">
		</div>
		<div class="col-sm-9">
			<h4>"It gives her so much confidence - she goes into her own little world"</h4>
			<p> - Tasha & Olivia, London</p>
		</div>
		{{#link-to 'story' class="float_right btn btn-cyan"}}See the stories{{/link-to}}
	</div>

	<div class="row" id="benefits">
		<div class="col-md-4">
			<img src="assets/story_image_1.png">
			<h2>Physical</h2>
			<h4>With the Learning Cubes, kids don't need to tap or swipe the screen - <strong>ever</strong>. <br/>Interacting with the cubes powers the game.</h4>
		</div>

		<div class="col-md-4">
			<img src="assets/story_image_2.png">
			<h2>Shared</h2>
			<h4>Children are proven to learn best when interacting with another person. With Lingumi, parent and child play and learn together. We'll support you all the way.</h4>
		</div>

		<div class="col-md-4">
			<img src="assets/playful_icon.png">
			<h2>Playful</h2>
			<h4>For early learners, we've replaced tapping and swiping with touching and holding: the Learning Cubes combine apps with physical play that boosts learning, and reduces screen addiction.</h4>
		</div>
	</div>

{{!-- 	Add an awesome for parents (game view vs feedback) chunk here --}}

	<div class="quite_padded" id="signup_bottom">

		 <div class="landing_buy">
		 <h4>Buy the Learning Cubes</h4>
		 	{{#link-to 'checkout' class="btn btn-navbar btn-magenta"}}Buy{{/link-to}}
		 </div>
	</div>
	{{#signup-footer}}{{/signup-footer}}
</div>
