<div class="page_content">
	<div class="top">
		<div class="row">
			<div class="col-sm-8">
				<div id="strapline">
					<h2>The early-years <br/><span class="weight-400"><span class="lingumi-blue">English language</span> method</span></h2>

					<h3><img src="assets/icons/landing_research.png"><strong>Built from academic research</strong></h3>
					<h3><img src="assets/icons/landing_adaptive.png"><strong>Delivered by adaptive technology</strong></h3>

					{{#scroll-to href='#explainers' offset=-70 class="btn btn-magenta strapline-btn"}}
						Find out more
				{{/scroll-to}}
				</div>
			</div>
			<div class="col-sm-4">
				<div id="cover_img">
					<img src="assets/biz/cover_img.png">
				</div>
			</div>
		</div>
	</div>
	

	<div class="explainers quite_padded" id="explainers">

		<h2>The Lingumi Method</h2>
		<div class="row">
			<div class="method col-md-4">
				<img src="assets/biz/growth_icon_onblue.png">
				<h4>Adaptive, self-strengthening learning content delivered to learners across interlinking products</h4>
			</div>
			<div class="method col-md-4">
				<img src="assets/biz/dec_tree_white.png">
				<h4>Algorithmically-structured methodology blending tactile play and digital apps</h4>
			</div>
			<div class="method col-md-4">
				<img src="assets/biz/research_icon_pink.png">
				<h4>Outcome-driven product design, informed by user testing, studies, and specialised academic research</h4>
			</div>
			<div class="action col-md-12">
				{{#scroll-to href='#landing-video' offset=-70 class="btn btn-magenta"}}
						Outcomes
				{{/scroll-to}}
			</div>
		</div>	
	</div>

	<div id="landing-video">
		<h2>Early results:</h2>
		<div class="row">
			<div class="col-md-8" id="video_embed">
				
					<div>
						<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_8xs4p7ilyv popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
					</div>
					<div style="font-weight: 100; color: #595a5a">
					</div>
			</div>
			<div class="col-md-4" id="tweets">
				<blockquote class="twitter-tweet" data-lang="en" data-cards="hidden"><p lang="en" dir="ltr">Using research to inform their game design <a href="https://twitter.com/LingumiLabs">@LingumiLabs</a> :) <a href="https://t.co/rfl9mBDAX0">https://t.co/rfl9mBDAX0</a></p>&mdash; Kelwyn Looi (@KelwynLooi) <a href="https://twitter.com/KelwynLooi/status/693075402986778624">January 29, 2016</a></blockquote>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

				<blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Incredible results in preschoolers learning English from <a href="https://twitter.com/LingumiLabs">@LingumiLabs</a> <a href="https://t.co/HK7dsCATgD">https://t.co/HK7dsCATgD</a> <a href="https://twitter.com/memrise">@memrise</a></p>&mdash; Emerge Education (@emergelab) <a href="https://twitter.com/emergelab/status/693037547790979072">January 29, 2016</a></blockquote>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		{{#scroll-to href='#products' offset=-70 class="btn btn-magenta"}}
						Products
				{{/scroll-to}}
	</div>

	<div id="products" class="explainers quite_padded">
		<h2>Connected products, effective outcomes</h2>
		<div class="row">
			<div class="method col-md-4">
				<img src="assets/biz/starter_kit_transparent.png">
				<h2>Learning Cubes</h2>
				<h4>Tactile foam cubes connect with our learning apps for iOS and Android, using augmented reality technology. <br/>{{#link-to 'products' class='clean_link'}}Buy a Beta-release kit.{{/link-to}}</h4>
			</div>
			<div class="method col-md-4">
				<img src="assets/biz/fw_icon.png">
				<h2>Digital Products</h2>
				<h4>Our apps apply research into child language acquisition to game design, with a focus on engagement and efficacy</h4>
			</div>
			<div class="method col-md-4">
				<img src="assets/biz/growth_icon.png">
				<h2>Unified Experience</h2>
				<h4>Each learner receives a unified, adaptive learning experience across any device or product</h4>
			</div>
		</div>
	</div>
<!-- 
	<div id="science" class="well_padded">
		<h2>The Whitepaper</h2>
		<h4>Our whitepaper details the academic research that has gone into the design and structure of the the Lingumi Method, how we design for efficacy and learning outcomes, and early results from our work with academics, families, schools, and special needs education professionals. <a href="mailto: hello@lingumi.com">Click here</a> to request a copy.</h4>
		<h4>Our research whitepaper is available by request, and outlines the science, processes, and learning mechanisms used in the Method and products.</h4>
	</div> -->



<!-- 	{{#signup-footer}}{{/signup-footer}} -->
</div>
