<div class="page_content">
	<div id="journey_header" class="method_subheader">
		<h2>The Lingumi Method</h2>
		<div class="row">
			<div class="col-sm-6">
				<img src="assets/method_onion.gif">
			</div>
			<div class="col-sm-6" id="method_intro">
				<div class="inline_step">
					<div class="method_number"><p>1</p></div>
					<h4><strong>New sounds</strong> introduced through play</h4>
				</div>
				<div class="inline_step">
					<div class="method_number"><p>2</p></div>
					<h4><strong>First words</strong> learned through play and repetition</h4>
				</div>
				<div class="inline_step">
					<div class="method_number"><p>3</p></div>
					<h4><strong>Contextual language</strong> absorbed through question games and puzzles</h4>
				</div>
				<div class="inline_step">
					<div class="method_number"><p>4</p></div>
					<h4><strong>Short phrases</strong> learned and practised by answering questions</h4>
				</div>
			</div>
		</div>
		<div id="journey_description" class="description">
			<h4>The Lingumi Method has been developed with early years experts and academics to empower parents and children to learn and practise a language together. By combining <strong>physical play</strong> with amazing <strong>digital apps</strong>, the method uses a mixture of physical actions, audio, video, and puzzle-solving to develop children's skills in a multi-sensory and playful environment.<br/>The Lingumi Method has been created to stimulate neurological development through multi-sensory engagement.</h4>
		</div>
	</div>

	<div id="method_stages" class="method_content">
	<h2>The Learner's Journey</h2>
		<div class="row">
			<div id="journey_stage1" class="journey_stage col-md-5">
				<div>
					<h3>1: Build</h3>
					<img src="assets/learner_journey_1.png">
				</div>
				<div class="float-right">
					<h4><strong>Build basic vocabulary</strong> using the Lingumi Starter Kit and First Words app, which teaches over 60 new words, in a structure devised by academics at the University of Oxford that replicates the words a child learns first in their native language.</h4>
				</div>
			</div>

			<div class="journey_stage col-md-5">
				<div>
					<h3>2: Expand</h3>
					<img src="assets/learner_journey_2.png">
				</div>
					<h4><strong>Expand your child's knowledge</strong> of the new language, or practise their first language, with question games that build contextual language through guesswork and play.</h4>
			</div>
		</div>
		<div class="row">
			<div class="journey_stage col-md-5">
				<div>
					<h3>3: Speak</h3>
					<img src="assets/learner_journey_3.png">
				</div>
				<div class="float-right">
					<h4><strong>Practise speaking</strong> the new language you've learned together, using Lingumi Speak apps which adapt to what your child has learned, and guide you as parent through the process.</h4>
				</div>
			</div>
			<div class="journey_stage col-md-5">
				<div>
					<h3>4: Strengthen</h3>
					<img src="assets/learner_journey_4.png">
				</div>
				<div class="float-right">
					<h4><strong>Activate and embed</strong> the language your child has learned with intelligent, personalised video and games. Learning through play, tailored to your child.</h4>
				</div>
			</div>
		</div>
	</div>

	<div id="research" class="method_content">
		<h2>The Research</h2>
		<h4>The Lingumi Method is built on research by the world's top academics in infant language acquisition, psycho- and neurolinguistics. In short, the research we use combines decades of study into how children learn languages, and how their brain works.<br/>You can read more about the academic research into our method in our whitepaper, but here are the key principles:</h4>
		<h4><strong>Action-reaction: </strong>Children learn best when they're rewarded with reactions to their actions. We've build this into our games, creating reactions in our apps to physical actions with our cubes.</h4>
		<h4><strong>Shared learning: </strong>When a parent or carer takes part in the learning, repeating and helping the child to play and learn, the learning outcomes are improved. Our games are designed to be played in pairs or small groups.</h4>
		<h4><strong>Positive reinforcement: </strong>Using the Lingumi method, children learn through experimentation and free-play, but are always encouraged positively towards learning and discovering.</h4>
	</div>
	<div class="signup signup_landing">
		<p>Buy the Learning Cubes to start learning:</p>
          {{#link-to 'products' class="btn btn-cyan"}}Buy{{/link-to}}
  	</div>
</div>