<div id="navigation">
	<nav class="navbar navbar-default navbar-noscroll">

		<div class="navbar-header">
			<a class ="navbar-brand" href="/">
				<img src="/assets/brand_simple.png">
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                <i class="fa fa-bars"></i>
	        </button>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right nav-pills">
				<li>{{#link-to 'home' class="btn btn-navbar btn-cyan"}}Home{{/link-to}}</li>
				<li>{{#link-to 'system' class="btn btn-navbar btn-green"}}What{{/link-to}}</li>
				<li>{{#link-to 'method' class="btn btn-navbar btn-magenta"}}How{{/link-to}}</li>				

				<li class="dropdown">
					<a class="dropdown-toggle btn btn-navbar btn-cyan" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/benefits">Benefits</a></li>
						<li><a href="/FAQ">FAQ</a></li>
						<li><a href="/Testimonials">Testimonials</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/club">Club</a></li>
						<li><a href="/schools">Schools</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</div>