<div class="page_content">
	<div class="checkout_stage">
		<div class="row">
			<div class="col-xs-4">
				<div class="stage_point stage_point_inactive">1</div>
				<h4>Start checkout</h4>
			</div>
			<div class="col-xs-4">
				<div class="stage_point stage_point_inactive">2</div>
				<h4>Payment</h4>
			</div>
			<div class="col-xs-4 checkout_active">
				<div class="stage_point stage_point_active">3</div>
				<h4>Confirmation</h4>
			</div>
		</div>
	</div>

	<!-- REMEMBER TO ADD EMAIL TO THIS PRE-FILL -->

	<div class="row explainers" id="checkout">
		<h2>Thanks for your order.</h2>
			<h4>It's on its way to you.</h4>
			<h4>All you need to do now is sign up for an account here, so you can log in to the app, save your child's progress, and find out how they are learning.</h4>
			
		
	</div>

</div>
