<div class="row explainers landing_link" id="get_kit">
	<div id="starter_kit">
		<h2>The Starter Kit:</h2>
		<img src="assets/starter_Kit.png">
	</div>
	<a href="https://shop.trycelery.com/page/a38df9aa-20bd-47e0-a5ea-f3caf0d52325" class="btn btn-navbar btn-magenta">Checkout</a>
	{{#link-to 'contact' class="btn btn-navbar btn-cyan"}}Ask a question{{/link-to}}
	<div class="row">
		<div class="col-md-4 kit_content_columns" id="kit_cubes">
			<h3><strong>Five squishy character cubes</strong></h3>
			<h4>Colourful cubes that interact with our apps in magical ways</h4>
			<img src="assets/development_graph.png">
			<h3><strong>Box and stand</strong></h3>
			<h4>The box creates a playing surface for your child to place the cubes, and the stand holds your tablet or smartphone</h4>
		</div>

		<div class="col-md-4" id="our_apps">
			<h3><strong>Free apps</strong></h3>
			<h4>Our first app, designed with help from leading experts, is free to download, with a second free app on the way</h4>
			<img src="assets/first_words_icon.gif">
			<img src="assets/first_verbs_icon.gif">
		</div>
		<div class="col-md-4" id="our_langs">
			<h3><strong>Learn 5 languages</strong></h3>
			<h4>Use the Lingumi Starter Kit to develop your child's English skills, and to learn new words and phrases in 4 other languages!</h4>
				<img src="assets/flag_gb.png">
				<img src="assets/flag_fr.png">
				<img src="assets/flag_cn.png">
				<img src="assets/flag_sp.png">
				<img src="assets/flag_it.png">
			<h3><strong>Technical information</strong></h3>
			<h4>The kit is compatible with Apple iOS devices (iPad or iPhone) running iOS 8.4 and above, or Android devices running 2.3 or above.</h4>
		</div>
	</div>
	<a href="https://shop.trycelery.com/page/a38df9aa-20bd-47e0-a5ea-f3caf0d52325" class="btn btn-navbar btn-magenta">Checkout</a>
	{{#link-to 'contact' class="btn btn-navbar btn-cyan"}}Ask a question{{/link-to}}
</div>

<div id="journey_header" class="method_subheader">
	<h2>How it Works</h2>
	<ul class="subnav">
		<li><a href="#kit_overview">The Starter Kit</a></li>
		<li><a href="#technical_overview">Technical information</a></li>
		<li><a href="#games_overview">The games</a></li>
		<li><a href="#apps_overview">The apps</a></li>
		<li><a href="#faq">FAQ</a></li>
	</ul>
	<div id="journey_description" class="description">
		<h4>At Lingumi, we produce a range of products that support our <a href="/method">academic method</a> and <a href="/method#curriculum">curriculum</a>, from our starter kit to our apps, resources, and personalised videos that support your child's learning. Through a combination of advanced technology, academic research, and data-driven customer feedback, we have developed a constantly-growing family of resources and products to empower you to help your child develop and learn.</h4>
	</div>
</div>

<div id="kit_overview" class="method_content">
	<h2>The Starter Kit</h2>
	<img src="assets/illustration.png">
	<h4>The Starter Kit is everything you need to start playing and learning with your child, using the Lingumi Method. The starter kit contains 6 squishy, colourful cubes that unlock a world of tactile, playful learning when paired with one of our 'First Series' apps or videos. You can see how the kit works here, or read testimonials from some of our Lingumi families here. Or, if you want to read about why we use physical objects as part of the Method, download the whitepaper here.</h4>
</div>

<div id="technical_overview" class="method_content">
	<h2>Technical Overview</h2>
	<div id="setup">
		<img src="assets/no_wifi.gif">
		<img src="assets/no_battery.gif">
		<img src="assets/no_setup.gif">
	</div>
	<h4>Lingumi uses a variety of interactive physical and digital experiences to immerse children in a learning environment that is effective and beneficial. The <strong>Starter Kit</strong> works <strong>offline</strong> and requires <strong>no batteries</strong>. It is compatible with Apple iOS and Android tablets and smartphones, and can be setup in less than a minute.<br/> Once you've got the starter kit, the apps that go with it are free, and all of our languages (English, Italian, Spanish, French, Mandarin) are included.<br/>The cubes are made from child-safe, soft foam that won't break anything (tablets, precious vases, hearts), and can be easily wiped clean.</h4>
</div>

<div id="games_overview" class="method_content">
	<h2>The Games</h2>
	<div class="preview">
		<img src="assets/shapes2_inplay.gif">
		<img src="assets/body2_inplay.gif">
	</div>
	<h4>We create games that fulfil our key learning criteria: <strong>action-reaction</strong>, <strong>guesswork</strong>, and <strong>positive reinforcement</strong>. The result is rich, rewarding, and fun activities for children and parents.<br/>The four types of games cover four disciplines of language acquisition: learning new words, adding contextual language (like 'the' or 'big' or 'where') around these new words, understanding how these words fit into phrases, and then speaking the words and phrases out loud.</h4>
</div>

<div id="apps_overview" class="method_content">
	<h2>The Apps</h2>
	<div class="preview">
		<img src="assets/first_words_icon.gif">
		<img src="assets/first_verbs_icon.gif">
	</div>
	<h4>Our starter kit has two apps: First Words, which teaches c.60 nouns and then test your child's memory of new words through puzzle games, alongside free-play areas, and magical and funny activities for different categories of words. The second app, First Verbs, takes the base of nouns that your child has learned, and adds verbs around these nouns to expand their knowledge of the language.</h4>
</div>

<div id="faq" class="method_content">
	<h2>Frequently Asked Questions</h2>
	<!-- FAQ here -->
</div>