<div class="page_content">
	<div class="row explainers landing_link" id="get_kit">
		<div id="starter_kit">
			<h2>The Starter Kit:</h2>
			<img src="assets/starter_kit.png">
		</div>
		<a href="https://shop.trycelery.com/page/a38df9aa-20bd-47e0-a5ea-f3caf0d52325" class="btn btn-navbar btn-magenta">Checkout</a>
		{{#scroll-to href='#kit_info' label='Kitinfo' offset=-60 class="btn btn-cyan"}}
			More info
			{{/scroll-to}}
		<div class="row" id="kit_info">
			<div class="col-md-4 kit_content_columns" id="kit_cubes">
				<h3><strong>Five squishy character cubes</strong></h3>
				<h4>Colourful cubes that interact with our apps in magical ways</h4>
				<img src="assets/development_graph.png">
				<h3><strong>Box and stand</strong></h3>
				<h4>The box creates a playing surface for your child to place the cubes, and the stand holds your tablet or smartphone</h4>
			</div>

			<div class="col-md-4" id="our_apps">
				<h3><strong>Free apps</strong></h3>
				<h4>Our first app, designed with help from leading experts, is free to download, with a second free app on the way</h4>
				<img src="assets/first_words_icon.gif">
				<img src="assets/first_verbs_icon.gif">
			</div>
			<div class="col-md-4" id="our_langs">
				<h3><strong>Learn 5 languages</strong></h3>
				<h4>Use the Lingumi Starter Kit to develop your child's English skills, and to learn new words and phrases in 4 other languages!</h4>
					<img src="assets/flag_gb.png">
					<img src="assets/flag_fr.png">
					<img src="assets/flag_cn.png">
					<img src="assets/flag_sp.png">
					<img src="assets/flag_it.png">
				<h3><strong>Technical information</strong></h3>
				<h4>The kit is compatible with Apple iOS devices (iPad or iPhone) running iOS 8.4 and above, or Android devices running 2.3 or above.</h4>
			</div>
		</div>
		<a href="https://shop.trycelery.com/page/a38df9aa-20bd-47e0-a5ea-f3caf0d52325" class="btn btn-navbar btn-magenta">Checkout</a>
		{{#link-to 'contact' class="btn btn-navbar btn-cyan"}}Ask a question{{/link-to}}
	</div>
</div>