<div id="profile_components" class="row">
	<div class="col-sm-5 profile_form" id="parent_profile_form">
		{{#parent-profile}}{{/parent-profile}}
	</div>
	<div class="col-sm-5 profile_form" id="child_profile_form">
		{{#child-profile}}{{/child-profile}}
	</div>
</div>