<div class="page_content">
	<div class="well_padded" id="reg_complete">
		<h4>Thanks for registering.</h4>
		<h2>Your next steps.</h2>

		<div class="row reg_steps">
			<h4 class="number">1</h4>
			<img src="assets/starter_kit.png">
			<h2>Order the starter kit.</h2>
		</div>

		<div class="row reg_steps">
			<h4 class="number">2</h4>
			<img src="assets/starter_kit.png">
			<h2>Join our communities.</h2>
		</div>

		<div class="row reg_steps">
			<h4 class="number">3</h4>
			<img src="assets/starter_kit.png">
			<h2>Refer friends for free stuff.</h2>
		</div>
	</div>
</div>