<p>I'm the registration page</p>

<h2>Registration </h2>
<li>
	<label for="email">Email: </label>
    <input type="email" id="email" placeholder="Email">
</li>
<li>
	<label for="password">Password: </label>
    <input type="password" id="password" placeholder="Password">
</li>
<li>
	<label for="repeatPassword">Repeat Password: </label>
    <input type="password" id="repeatPassword" placeholder="Repeat Password">
</li>
<button id="buttonRegister">Register</button>