<div class="page_content">
	<div id="slt">
		<div class="well_padded">
			<h2>Lingumi for special needs</h2>
			<h4>We've worked with speech therapists and disability organisations to make the Lingumi learning experience available to every child. The {{#link-to 'products'}}Starter Kit{{/link-to}} uses squishy, child-safe cubes that contain no electronics or small pieces, are colourful, and optimised for <strong>tactile, visual, multisensory learning.</strong></h4>
		</div>

		<div class="banner" style="margin: 1% 0">
			{{!-- <h4>Quote from SLT</h4> --}}
		</div>
		<div class="row quite_padded">
			<div class="col-md-4">
				<h2>Speech delay</h2>
				<h4>The interactive nature of the kit helps children with speech language problems to gain confidence. In testing with children with speech delay and associated difficulties, we noticed unprompted repetiton of words after just two play sessions. {{#link-to 'products'}}Try it at home.{{/link-to}}</h4>
			</div>
			<div class="col-md-4">
				<h2>Down's Syndrome</h2>
				<h4>The Lingumi Starter Kit takes the child away from the screen, turning the learning experience into a highly visual, but interactive one. We've been working with Down's Syndrome charities and families with children with DS to test and improve the kit for special needs.{{#link-to 'products'}}Try it at home.{{/link-to}}</h4>
			</div>
			<div class="col-md-4">
				<h2>Bilingual children</h2>
				<h4>We work with bilingual families in London to ensure that Lingumi provides a positive learning experience, and gives their child confidence in their first or second language. Read their {{#link-to 'story'}}stories{{/link-to}} or{{#link-to 'products'}}try it at home.{{/link-to}}</h4>
			</div>
		</div>
	</div>
</div>